{{- if .Values.global.includeKafka }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-kafka-config
data:
  server.properties: |
    broker.id=1
    process.roles=controller,broker
    controller.quorum.voters=1@localhost:9094
    node.id=1
    # Adjusted listeners for K8s (Localhost for controller, Service for clients)
    listeners=INTERNAL://:9093,EXTERNAL://:9092,CONTROLLER://:9094
    advertised.listeners=INTERNAL://localhost:9093,EXTERNAL://{{ .Release.Name }}-kafka:9092
    listener.security.protocol.map=INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT
    controller.listener.names=CONTROLLER
    inter.broker.listener.name=INTERNAL
    offsets.topic.replication.factor=1
    group.initial.rebalance.delay.ms=0
    transaction.state.log.replication.factor=1
    transaction.state.log.min.isr=1
    log.dirs=/var/lib/kafka/data
{{- end }}